/* FILE: _others.scss */

//
// Other styles
//





// Tags

	.bbp-topic-tags {
		clear: both;
		margin-bottom: 1.62rem;
		font-size: .81em;
	}

	#bbp-topic-hot-tags {
		clear: both;
	}

	#merge_tag,
	#delete_tag {
		display: inline;
	}




// Topic and Reply revisions log

	.bbp-topic-content .bbp-topic-revision-log,
	.bbp-reply-content .bbp-topic-revision-log,
	.bbp-reply-content .bbp-reply-revision-log {
		padding: 1em 0 0;
		margin: 0;
		list-style: none;
		font-size: .81em;
		border-top: 1px dashed;
		opacity: .5;
		transition: opacity .3s;

		&:hover {
			opacity: 1;
		}

		.avatar {
			display: none;
		}

	}
