
/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media only screen and (max-width: 480px) {

	.bbpress-wrapper div.bbp-topic-tags {
		clear: left;
		float: left;
	}

	div.bbp-search-form input,
	div.bbp-search-form button {
		font-size: 11px;
		padding: 2px;
	}

	li.bbp-forum-info,
	li.bbp-topic-title {
		width: 45%;
	}

	li.bbp-forum-topic-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-voice-count,
	li.bbp-topic-reply-count {
		width: 15%;
	}

	span.bbp-topic-post-date,
	span.bbp-reply-post-date {
		float: left;
	}

	span.bbp-admin-links {
		clear: left;
		float: left;
	}

	.bbpress-wrapper .bbp-forums-list li {
		display: block;
		font-size: 11px;
	}

	.bbpress-wrapper .bbp-body div.bbp-topic-author,
	.bbpress-wrapper .bbp-body div.bbp-reply-author {
		margin: -15px 10px 10px;
		min-height: 100px;
		padding-left: 80px;
		position: relative;
		text-align: left;
		width: 100%;
	}

	.bbpress-wrapper div.bbp-topic-author a.bbp-author-name,
	.bbpress-wrapper div.bbp-reply-author a.bbp-author-name {
		clear: none;
		display: inline-block;
		margin-left: 0;
		word-wrap: break-word;
	}

	.bbpress-wrapper div.bbp-topic-author img.avatar,
	.bbpress-wrapper div.bbp-reply-author img.avatar {
		position: absolute;
		top: 15px;
		left: 0;
		width: 60px;
		height: auto;
	}

	.bbpress-wrapper div.bbp-topic-author .bbp-author-role,
	.bbpress-wrapper div.bbp-reply-author .bbp-author-role {
		font-size: 12px;
		font-style: normal;
	}

	.bbpress-wrapper .bbp-body div.bbp-topic-content,
	.bbpress-wrapper .bbp-body div.bbp-reply-content {
		clear: both;
		margin: 10px;
		padding: 0;
	}

	.bbpress-wrapper div.bbp-topic-content p,
	.bbpress-wrapper div.bbp-reply-content p {
		margin-bottom: 1em;
	}

	div.bbp-submit-wrapper {
		float: left;
	}

	.bbpress-wrapper fieldset.bbp-form {
		padding: 0 10px 10px;
	}

	.bbpress-wrapper #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}

	.bbpress-wrapper div.bbp-forum-title h3,
	.bbpress-wrapper div.bbp-topic-title h3,
	.bbpress-wrapper div.bbp-reply-title h3 {
		font-size: 14px;
	}
}






/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {

	.bbpress-wrapper div.bbp-search-form {
		margin-bottom: 10px;
	}

	.bbpress-wrapper li.bbp-header li.bbp-forum-info,
	.bbpress-wrapper li.bbp-body li.bbp-forum-info,
	.bbpress-wrapper li.bbp-header li.bbp-topic-title,
	.bbpress-wrapper li.bbp-body li.bbp-topic-title {
		width: 100%;
	}

	.bbpress-wrapper li.bbp-header li.bbp-forum-info,
	.bbpress-wrapper li.bbp-header li.bbp-topic-title {
		text-align: center;
		text-transform: uppercase;
	}

	.bbpress-wrapper li.bbp-header li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-header li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-header li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-header li.bbp-topic-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-reply-count {
		width: 20%;
	}

	.bbpress-wrapper li.bbp-header li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-header li.bbp-topic-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness {
		width: 58%;
	}

	.bbpress-wrapper li.bbp-body li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness {
		margin-top: 7px;
	}

	.bbpress-wrapper li.bbp-header,
	.bbpress-wrapper li.bbp-footer {
		font-size: 10px;
	}

	.bbpress-wrapper li.bbp-header div.bbp-search-author,
	.bbpress-wrapper li.bbp-header div.bbp-topic-author,
	.bbpress-wrapper li.bbp-header div.bbp-reply-author {
		text-align: left;
		width: 25%;
	}

	.bbpress-wrapper li.bbp-header div.bbp-search-content,
	.bbpress-wrapper li.bbp-header div.bbp-topic-content,
	.bbpress-wrapper li.bbp-header div.bbp-reply-content {
		margin-left: 25%;
	}

	.bbpress-wrapper div.bbp-template-notice img.avatar,
	.bbpress-wrapper p.bbp-topic-meta img.avatar {
		width: 14px;
		height: auto;
	}

	.bbpress-wrapper div.bbp-the-content-wrapper td.mceToolbar {
		padding: 1px;
	}

	.bbpress-wrapper div.bbp-the-content-wrapper td.mceToolbar td {
		width: 20px;
		height: 20px;
	}

	.bbpress-wrapper div.wp-editor-container {
		width: 100%;
		overflow: auto;
	}

	.bbpress-wrapper input#bbp_topic_title,
	.bbpress-wrapper input#bbp_topic_tags {
		width: 95%;
	}

	.bbpress-wrapper div.bbp-forum-title h3,
	.bbpress-wrapper div.bbp-topic-title h3,
	.bbpress-wrapper div.bbp-reply-title h3 {
		font-size: 14px;
	}
}






/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {

	.bbpress-wrapper li.bbp-header li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-header li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-header li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-header li.bbp-topic-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-reply-count,
	.bbpress-wrapper li.bbp-footer div.bbp-search-author,
	.bbpress-wrapper li.bbp-footer div.bbp-topic-author,
	.bbpress-wrapper li.bbp-footer div.bbp-reply-author {
		width: 45%;
	}

	.bbpress-wrapper li.bbp-header li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-header li.bbp-topic-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness {
		clear: both;
		width: 100%;
	}

	.bbpress-wrapper li.bbp-header li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-header li.bbp-topic-freshness {
		text-align: center;
	}

	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness,
	.bbpress-wrapper li.bbp-header div.bbp-search-author,
	.bbpress-wrapper li.bbp-header div.bbp-search-content,
	.bbpress-wrapper li.bbp-header div.bbp-topic-author,
	.bbpress-wrapper li.bbp-header div.bbp-topic-content,
	.bbpress-wrapper li.bbp-header div.bbp-reply-author,
	.bbpress-wrapper li.bbp-header div.bbp-reply-content {
		margin-left: 0;
		text-align: left;
	}

	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
		display: inline-block;
	}

	.bbpress-wrapper li.bbp-header {
		overflow: hidden;
	}

	.bbpress-wrapper li.bbp-footer div.bbp-search-content,
	.bbpress-wrapper li.bbp-footer div.bbp-topic-content,
	.bbpress-wrapper li.bbp-footer div.bbp-reply-content {
		display: inline-block;
		margin-left: 0;
	}

	.bbpress-wrapper li.bbp-body div.bbp-topic-author,
	.bbpress-wrapper li.bbp-body div.bbp-reply-author {
		min-height: 60px;
		padding-left: 60px;
	}

	.bbpress-wrapper div.bbp-topic-author img.avatar,
	.bbpress-wrapper div.bbp-reply-author img.avatar {
		width: 40px;
		height: auto;
	}

	.bbpress-wrapper div.bbp-forum-title h3,
	.bbpress-wrapper div.bbp-topic-title h3,
	.bbpress-wrapper div.bbp-reply-title h3 {
		font-size: 12px;
	}
}
