/* FILE: _buddypress.scss */

//
// BuddyPress plugin related styles
//





.bbpress-wrapper {

	.row-actions {
		font-size: .81em;
		visibility: hidden;
	}

	li:hover > .row-actions {
		visibility: visible;
	}

}

.activity-list {

	.bbp_topic_create,
	.bbp_reply_create {

		.activity-content {

			.activity-inner {
				padding-#{$left}: 1em;
				margin-#{$left}: .62em;
				border-#{$left}-width: 2px;
				border-#{$left}-style: solid;
			}

		}

	}

}
