/* FILE: _others.scss */

//
// Other styles
//





// Tags

	.bbp-topic-tags {
		clear: both;
		margin-bottom: 1.62rem;
		font-size: .81em;
	}

	#bbp-topic-hot-tags {
		clear: both;
	}

	#merge_tag,
	#delete_tag {
		display: inline;
	}
