/* FILE: _toggles.scss */

//
// Toggles styles
//





#subscription-toggle,
#favorite-toggle {
	float: $right;
	margin-bottom: 1.62rem;

	a {
		text-decoration: none;
		font-size: .81em;
		font-weight: 700;
	}

}
